<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modding Softwares - Apps dependencies</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>Modding Softwares - Apps dependencies</h1>
        </header>
        <main>
            <p>Here you can find the dependencies required for the apps available on our website.</p>
            <ul>
                <li><a href="https://dotnet.microsoft.com/download/dotnet-framework/net48" target="_blank">Dotnet 48 (.NET)</a></li>
            </ul>
        </main>
        <footer>
            <p>&copy; 2026 Modding Softwares. All rights reserved to website dev and app to their respective owners.</p>
        </footer>
    </body>
</html>
