<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modding Softwares</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>Modding Softwares</h1>
        </header>
        <main>
            <p>Welcome to the Modding Softwares website! Here you can find various tools and resources for modding your favorite games.</p>
            <div class="buttons-container">
                <button onclick="window.location.href='/download'">Download</button>
                <!-- <button onclick="window.location.href='/Help'">Help</button> -->
                <button onclick="window.location.href='/Dependencies'">Dependencies</button>
                <button onclick="window.location.href='/Developers'">App Developers</button>
            </div>
        </main>
        <footer>
            <p>&copy; 2026 Modding Softwares. All rights reserved to website dev and app to their respective owners.</p>
        </footer>
    </body>
</html>